<%- include('../components/headComp') %> 

<body class="font-app">
   <%- include('../components/sidebar') %> 
      
   <div id="main">
      <%- include('../components/navbar') %> 

      <div class="container py-4">
         <div class="d-flex justify-content-center  animate__animated animate__flipInX">
            <p class="text-center mx-auto fs-3">Hello <%= sessionName %> , what is the list today?</p>
         </div>

         <div class="d-flex justify-content-center animate__animated animate__flipInX">
            <div class="card" style="width: 30rem; height: 28,5rem; margin: 1rem 10px;">

               <h4 class="mx-4 my-3"><u>Create New List</u></h4>
               <div class="card-body mx-2">
                  <% if(messages.fail) { %>
                     <div class="alert alert-danger alert-dismissible fade show animate__animated animate__flipInX" role="alert">
                       <strong><i class="fas fa-exclamation-triangle me-2"></i></strong> <%- messages.fail %>
                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                  <% } %> 
                  <form class="form-floating" action="/todo/store" method="post">
                     <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="title" id="floatingInput" placeholder="title">
                        <label for="floatingInput">Title</label>
                      </div>
                      <div class="form-floating mb-3">
                        <textarea class="form-control" name="desc" id="floatingTextarea2" placeholder="description" style="height: 20rem"></textarea>
                        <label for="floatingTextarea2">Description</label>
                      </div>
                      <div class="form-floating">
                        <select class="form-select" name="status" id="floatingSelect">
                          <option selected disabled>Select One</option>
                          <option value="pending">Pending</option>
                          <option value="doing">Doing</option>
                          <option value="done">Done</option>
                        </select>
                        <label for="floatingSelect">Status</label>
                      </div>

                     <a href="/todo" class="btn btn-info float-start text-white mt-3"><i class="fas fa-arrow-left"></i>&nbsp; Back</a>
                     <button type="submit" class="btn btn-primary float-end mt-3"><i class="fas fa-plus"></i>&nbsp; Create</button>
                   </form>
               </div>
             </div>
         </div>

      <%- include('../components/footer') %> 
   </div>
</body>
</html>